body {
    margin: 0;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.ui.form .field > label {
    color: #898787 !important;
    font-weight: 100 !important;
    font-size: 1em !important;
}
.ui.input,
.ui.form {
    width: 350px !important;
}

.batch_date .ui.input {
    width: 150px !important;
}
.ui.input input {
    box-shadow: 0px 0px 0.1em 0.1em rgba(34, 36, 38, 0.15) inset !important;
    border-radius: 5px !important;
}
.ui.button {
    width: 98px;
    height: 30px;
    padding: inherit !important;
    border-radius: 7px !important;
    color: #fff !important;
    background-color: #1e8cfe !important;
    background-image: linear-gradient(to right, #557af5, #198eff) !important;
}
.fields {
    margin-bottom: 0px !important;
}
.fields .error {
    margin-bottom: 12px !important;
}
.mt35 {
    margin-top: 35px !important;
}
.mt25 {
    margin-top: 25px !important;
}
.mt10 {
    margin-top: 10px !important;
}
.mt15 {
    margin-top: 15px !important;
}
.mr10 {
    margin-right: 10px !important;
}
.mb0 {
    margin-bottom: 0px !important;
}
.img_icon {
    width: 30px !important;
}
.center {
    text-align: center !important;
}

.eye_icon {
    position: absolute;
    right: 8px;
    margin-top: -43px;
}
.error + .eye_icon {
    margin-top: -83px;
}
.text_right {
    position: absolute;
    right: 0px;
    cursor: pointer;
}
.disabled {
    cursor: not-allowed;
}

/* Styles for login */
.login_column {
    padding: 5% 5% 5% 17% !important;
}
.login_card {
    border-radius: 8px !important;
    box-shadow: 0px 0px 3px 3px #ededed !important;
    padding: 5% 10% !important;
}
.login_card .ui.input input {
    box-shadow: 0px 0px 0.1em 0.1em rgba(34, 36, 38, 0.15) inset !important;
    border-radius: 20px !important;
}
.ui.button.login_btn {
    width: 100% !important;
    border-radius: 20px !important;
    font-size: 20px;
    margin-top: 25px !important;
}
.tc {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    text-decoration: underline;
}
.hr_p {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
.hr_p span {
    background: #fff;
    padding: 0 10px;
}
.login_img_div {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 20px;
}
